body, h1 {
  font-family: sans-serif;
  font-weight: 100;
}

main {
  width: 800px;
  margin: auto;
}

#headerText {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

ul {
  width: 20em;
  padding: 0;
  margin: 0;
  float: left;
}

.product {
  list-style: none;
  border-style: groove;
  border: 1px solid grey;
  clear: both;
  height: 27px;
}

.product span {
  position: relative;
  top: 4px;
  left: 5px;
}

.product button {
  float: right;
  background: white;
  border-radius: 10px;
  border: 1px solid grey;
  position: relative;
  top: 3px;
  right: 1px;
  outline: none;
}

.product button:hover {
  background-color: #e8e7e7;
}

.product button:active {
  background-color: grey;
  color: white;
}

table {
  float: right;
  height: 100%;
  width: 300px;
  border: 1px solid grey;
  border-collapse: collapse;
}

th {
  border: 1px solid grey;
  
}

td{
  border: 1px solid grey;
}